* {
	box-sizing: border-box;
	/* font-family: 'Permanent Marker', cursive; */
}

body {
	background-color: #464646;
	margin: 0;
	padding: 0;
}

/* ------------------------------------------------------------------------------------------------- */
/* This is the navbar */

.custom-navbar {
	justify-content: space-between;
	z-index: 1;
	background: transparent;
	/* background-image: url(images/DarkBricks.jpg); */
	color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media (max-width: 1000px) {
	.custom-brand-title {
		display: none;
	}
}
.custom-navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}
.custom-navbar ul {
	justify-content: right;
}
.custom-navbar-links li {
	list-style: none;
}

.custom-navbar-links li a {
	text-decoration: none;
	color: orange;
	text-shadow: red 1px 1px;
	padding: 1rem;
	display: block;
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
	letter-spacing: 2px;
}

.custom-navbar-links li:hover {
	background-color: #181818;
	-moz-box-shadow: 0 0 25px #ccc;
	-webkit-box-shadow: 0 0 25px #ccc;
	box-shadow: 0 0 25px #ccc;
	border-radius: 20px;
}

.custom-toggle-button {
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.custom-toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: orange;
	border-radius: 10px;
}
@media (max-width: 1000px) {
	.custom-toggle-button {
		display: flex;
	}

	.custom-navbar-links {
		display: none;
		width: 100%;
		/* align:right; */
	}

	.custom-navbar {
		background-image: url(images/DarkBricks.jpg);
		flex-direction: column;
		align-items: flex-start;
	}
	.custom-navbar-links ul {
		flex-direction: column;
		width: 100%;
	}
	.custom-navbar-links li {
		text-align: center;
	}
	.custom-navbar-links li a {
		padding: 0.5rem 1rem;
	}
	.custom-navbar-links.active {
		display: flex;
	}
}

@media (max-width: 1000px) {
	li .about-bar {
		display: none;
	}
}
/* ------------------------------------------------------------------------------------------------- */
/* This is my intro page */
/*-------------------Container 1-------------------------------------------------------------------------*/
.introPage {
	margin: 0;

	height: auto;
	background-image: url(images/IntroPageImage.jpg);
	background-size: cover;
	display: grid;
	grid-template-rows: 1fr 2fr;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.headingBar {
}
.mainHeadingText {
	color: red;
	text-shadow: orange 2px 2px;
	font-size: 50px;
	font-weight: 400;
	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	font-family: 'Permanent Marker', cursive;
}
.IntoHeadingsDiv {
	text-align: center;
	margin-top: 12%;
	margin-left: 10%;
	margin-right: 10%;
}
.MainHeadingDiv {
}
.subHeadingText {
	font-weight: bold;
	text-shadow: red 2px 2px;
	color: orange;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 5px;
	animation-name: moveInRight;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	font-family: 'Permanent Marker', cursive;
}
.logoHeading {
	margin: 1.2rem;
	display: grid;
	grid-template-rows: 25px 1fr;
}
.custom-brand-title {
	color: red;
	font-family: 'Dancing Script', cursive;
	font-size: 1rem;
}
.chalaamLogo {
	width: 220px;
	height: 220px;
	border-radius: 100%;
	/* display: flex; */
	border: solid 2px orange;
	background-image: url(images/chalaam.jpg);
	/* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
	background-size: cover;
	cursor: pointer;
}
.logoHover {
	cursor: pointer;
}
@media (max-width: 1000px) {
	.chalaamLogo {
		display: none;
	}
}
.logoHover:hover {
	transition: 1s ease;
	-moz-box-shadow: 0 0 25px #ccc;
	-webkit-box-shadow: 0 0 25px #ccc;
	box-shadow: 0 0 25px #ccc;
}
@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	80% {
		transform: translate(20px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	80% {
		transform: translate(-20px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@media (max-width: 500px) {
	.headingBar {
		position: absolute;
	}
	.mainHeadingText {
		font-size: 40px;
	}
	.subHeadingText {
		margin: auto;
		font-size: 100%;
	}
	.introPage {
		height: 100%;
		background-image: url(images/timothy-eberly-C7ax3RF9FFo-unsplash.jpg);
	}
	.chalaamLogo {
		background-image: none;
	}
}

/* ------------------------------------------------------------------------------------------------- */
.container2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-image: linear-gradient(
			to right bottom,
			rgba(102, 36, 19, 0.5),
			rgba(0, 0, 4, 0.5)
		),
		url(images/ojos-de-fuego-yHt1OuBdjk4-unsplash.jpg);
	margin: 0;
	width: 100%;
	height: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-style: left right solid;
}
/* ------------------------------------------------------------------------------------------------- */
.template1 {
	width: 220px;
	height: 220px;
	justify-content: left;
	border-radius: 100%;

	background-image: url(images/IFMA.png);

	background-size: cover;
	transition: 1s ease;
	margin-left: 20%;
}

.template1Div {
	justify-content: left;
}
.template2 {
	width: 220px;
	height: 220px;
	background-color: blue;
	justify-content: center;

	border-radius: 100%;
	background-image: url(images/alex-harmuth-R1ODafbCoIY-unsplash.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition: 1s ease;
}
.template2Div {
	margin-left: 40%;
	margin-right: 25%;
}
.template3 {
	margin-top: -22%;
	width: 220px;
	height: 220px;
	justify-content: right;
	border-radius: 100%;
	background-image: url(images/pablo-rebolledo-h8sl-oNcat0-unsplash.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.template3Div {
	justify-content: right;
	float: right;
}
.template4 {
	width: 400px;
	height: 120%;

	background-image: url(images/DarkBricks.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 20px;
	/* background: transparent; */
	box-shadow: 10px 10px 5px black;
}
.container2Template4Div {
	margin: 20%;
}
.template4-heading-custom {
	color: White;
	font-family: 'Dancing Script', sans-serif;
	font-size: 3rem;
	text-align: center;
	width: 100%;
	height: auto;
}
.template4-paragraph-custom {
	text-align: center;

	width: 100%;
	top: 100px;

	color: White;
}
@media (max-width: 500px) {
	.container2 {
		display: none;
	}
	.template4 {
		content: 100%;
	}
	.template4-heading-custom {
		content: 100%;
	}
	.template4-paragraph-custom {
		content: 100%;
	}
	.carousel-inner {
		content: 100%;
	}
}

/* ------------------------------------------------------------------------------------------------- */
.founderDiv {
	background-image: url(images/grey-background.jpg);
	margin: 0;
	width: 100%;
	height: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-style: left right solid;
}

.founder-card-heading {
	justify-content: center;
	text-align: center;
	align-content: center;
	/* align:center; */
}
.founder-card {
	display: inline-grid;
	justify-content: center;
	text-align: center;
	line-height: 1.8;
	font-size: 25px;
	color: white;
	font-weight: 300;
	background-image: url(images/DarkBricks.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 40px;
	margin-top: 20px;
}
.founder-card-bottom {
	display: inline-grid;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
}
.main-heading-container3 {
	font-family: 'Dancing Script', cursive;
}

.founder-page {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.founder-left {
	width: 250px;
	height: 350px;

	background-image: url(images/Kru1.jpeg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 60px;
}
.founder-left:hover {
	cursor: pointer;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	transition: 1s ease;
	-moz-box-shadow: 0 0 25px #ccc;
	-webkit-box-shadow: 0 0 25px #ccc;
	box-shadow: 0 0 25px #ccc;
}
.founder-right {
	width: 250px;
	height: 350px;
	background-image: url(images/Sheldons-pic.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 60px;
}
.founder-right:hover {
	cursor: pointer;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	transition: 1s ease;
	-moz-box-shadow: 0 0 25px #ccc;
	-webkit-box-shadow: 0 0 25px #ccc;
	box-shadow: 0 0 25px #ccc;
}
.founder-center {
	background-image: url(images/DarkBricks.jpg);

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 60px;
	text-align: center;
}
.founder-center-paragraph {
	margin-top: 20px;
}
.founder-text {
	color: white;
	font-weight: lightweight;
	letter-spacing: 2px;
	font-family: 'Roboto 700' sans-serif;
}
.founder-center-heading {
	font-family: 'Dancing Script', cursive;
}
.founder-center-subHeading {
	font-family: 'Dancing Script', cursive;
}

@media (max-width: 500px) {
	.founder-right {
		display: none;
	}
	.founder-page {
		display: grid;
	}
}
/* ------------------------------------------------------------------------------------------------- */
.container4 {
	background-image: linear-gradient(
			to right bottom,
			rgba(102, 36, 19, 0.5),
			rgba(0, 0, 4, 0.5)
		),
		url(images/Background-carousel.jpg);

	background-size: cover;
	margin: 0;
	width: 100%;
	height: 100%;

	display: flex;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-style: solid;
}
@media (max-width: 500px) {
	.container4 {
		height: auto;
		font-size: 75%;
		border-style: none;
	}
	.carousel-item {
		margin-bottom: 40px;
	}

	.main-heading-container3 {
		font-size: 50%;
	}
	em {
		font-weight: 600;
	}
}

.colored-section {
	width: 100%;
	text-align: center;
	margin-top: 15px;
}
.main-heading-container4 {
	width: 100%;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 2.4rem;
	color: #c4bfbe;
	font-family: 'Permanent Marker', sans-serif;
	font-weight: 1000;
	color: orange;
}
.testimonial-image {
	border-radius: 100%;
	width: 180px;
	height: 180px;
	margin: 12px;
	border-style: solid;
	border: 20px;
}
.testimonial-image:hover {
	transition: 1s ease;
	-moz-box-shadow: 0 0 15px #ccc;
	-webkit-box-shadow: 0 0 15px #ccc;
	box-shadow: 0 0 15px #ccc;
}

.testimonial-text {
	font-size: 2.2rem;
	font-weight: 500;
	color: orange;
	font-family: 'Permanent Marker', cursive;
}

.testimonial-text-template {
	text-align: left;
	background-image: url(images/GreyConcrete.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 5px;
	padding: inherit;
	font-family: 'Roboto', sans-serif;
}
em {
	font-size: 1.1rem;
	font-family: 'Roboto 700', sans-serif;
	font-weight: 700px;
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* ------------------------------------------------------------------------------------------------- */
.container5 {
	background-image: url(images/jonathan-tomas-xOtJxM76zO0-unsplash.jpg);
	-webkit-background-size: cover;

	margin: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-style: left right solid;
}
.card-body {
	text-align: center;
	font-size: 1.7rem;
	background-color: grey;
}
.pricing-text:hover {
	color: yellow;
	cursor: pointer;
}
.card {
	border-radius: 40%;
}
.card-header:hover {
	color: red;
	cursor: pointer;
}
/* ------------------------------------------------------------------------------------------------- */
.social-icon {
	margin: 20px 10px;
}
.social-icon:hover {
	cursor: pointer;
	color: red;
}

@media (max-width: 1028px) {
	#title {
		text-align: center;
	}

	.title-image {
		position: static;
		transform: rotate(0);
	}
}
.bottom-paragraph {
	font-size: 40px;

	color: orange;
	font-family: 'Permanent Marker', cursive;
}
.footer {
	text-align: center;
	font-size: 1.2rem;
	color: white;
	font-weight: 300;
}
footer {
	height: 70%;
	background-color: #464646;
}

.contact:hover {
	color: orange;
	cursor: pointer;
}
::before {
	box-sizing: border-box;
}

.bottom-paragraph:hover {
	color: yellow;
	cursor: pointer;
}
